.main-black-bg {
  background-color: black;
  color: white; /* se quiser garantir que o texto fique visível */
}
.color{
  color: white;
}
.spaceBtn{
  margin: 5px;
}
.ladoAlado{
  display:inline-block;
}